
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    background-color: #fff;
    border: 4px solid #333;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

main > header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    position: relative;
    outline: none;
    user-select: none;
    text-align: center;
}

main > header h1 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

main > header .actions {
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

main > header .actions .action-close {
    border-radius: 1rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0;
    outline: none;
    text-align: center;
    user-select: none;
    width: 1rem;
}

main > section {
    padding: 30px;
}


/**
 * Buttons
 */

.btn-close {
    background-color: #fc625d;
    border: 1px solid #d53f3e;
    color: transparent;
}

.btn-close:hover {
    color: #4c0102;
}

.btn-close:active {
    transform: translate(1px, 1px);
}
